{% extends "layout.html" %}
{% block title %}LDAP | Password Reset Form{% endblock %}
{% block form_title %}
    <h1><strong> Example </strong> Reset Password Form</h1>
        <p>
            Your new password must be 8 characters long or longer and have at least:<br>
            one capital letter, one special character, one lowercase letter, & one number.<br>
            You must use a new password, your current password<br>
            can not be the same as your new password.<br>
        </p>

{% endblock %}
{% block form_top %}
    {% if verified %}
    <h3>Example LDAP Password Reset</h3>
    <p>Reset your Example LDAP password using this form:</p>
    {% else %}
    <h3>Verification Failed</h3>
    <p>Invalid Employee ID and key combination.</p>
    {% endif %}
{% endblock %}
{% block main_content %}
    {% if verified %}
    <div class="form-bottom reset-form">
        <form role="form" method="POST" class="login-form">
            <div class="form-group">
                <label class="sr-only" for="newPwd">Employee ID:</label>
                <input type="hidden"placeholder="Employee ID" value="{{ empID }}" name="empID" class="form-password form-control" id="new-pwd">
            </div>
            <div class="form-group">
                <label class="sr-only" for="newPwd">New Password</label>
                <input type="password" placeholder="New Password" name="newPwd" class="form-password form-control" id="new-pwd">
            </div>
            <div class="form-group">
                <label class="sr-only" for="newPwdAgain">New Password (again)</label>
                <input type="password" placeholder="New Password (again)" name="newPwdAgain" class="form-password form-control" id="new-pwd-again">
            </div>
            <button type="submit" class="btn btn-primary">Reset Password</button>
        </form>
    </div> <!-- div form-bottom -->
    {% endif %}
{% endblock %}
